body {
  background-color: #ffffff;
}

h1 {
  text-align: center;
}

h3 {
  text-align: left;
}

div {
  margin-top: 50px;
}

button {
  margin-right: auto;
}

#topTable {
  border:;
  width: auto;
  height: 10px;
  text-align: left;
  margin: 0px, 20px, -30px, 20px;
  text-decoration: underline;
}

td {
  border:;
  width: 700px;
  height: 10px;
  text-align: left;
}

.firstName {
  text-align: left;
  margin-left: 300px;
  font-size: 20px;
  font-family: georgia;
}

.lastName {
  text-align: right;
  margin-right: 300px;
  font-size: 20px;
  font-family: georgia;
}

.idNumber {
  text-align: left;
  margin-left: 300px;
  font-size: 20px;
  font-family: georgia;
}

.jobTitle {
  text-align: right;
  margin-right: 300px;
  font-size: 20px;
  font-family: georgia;
}

.annualSalary {
  text-align: left;
  margin-left: 300px;
  font-size: 20px;
  font-family: georgia;
}

.submitButton {
  text-align: right;
  margin-right: 300px;
  font-size: 20px;
  font-family: georgia;
}
