body {
  background-color: #ffffff;
}

h1 {
  text-align: center;
}

h3 {
  font-size: 20px;
}

.topTable {
  text-decoration: underline;
  font-size: 17px;
}

th {
  width: 125px;
}

.firstName {
  text-align: left;
  margin-left: 300px;
  font-size: 20px;
  font-family: georgia;
}

.lastName {
  text-align: right;
  margin-right: 300px;
  font-size: 20px;
  font-family: georgia;
}

.idNumber {
  text-align: left;
  margin-left: 300px;
  font-size: 20px;
  font-family: georgia;
}

.jobTitle {
  text-align: right;
  margin-right: 310px;
  font-size: 20px;
  font-family: georgia;
}

.annualSalary {
  text-align: left;
  margin-left: 280px;
  font-size: 20px;
  font-family: georgia;
}

#submitNewEmployee {
  text-align: right;
  margin-left: 800px;
  font-size: 20px;
  font-family: georgia;
}
